:root {
  --background-color: #eee;
  --header-background-color: #bbb7;
  --link-color: #44f;
  --link-color-hover: #bbf;
  --text-color: #111;
}

@media(prefers-color-scheme:dark) {
  :root {
    --background-color: #111;
    --header-background-color: #4447;
    --link-color: #bbf;
    --link-color-hover: #44f;
    --text-color: #eee;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  background: var(--text-color);
  border-radius: 3px;
  color: var(--link-color-hover);
  padding: 3px;
  margin: -3px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 100px 0 0;
}

header {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: var(--header-background-color);
  height: 80px;
  left: 0;
  position: -webkit-sticky;
  position: fixed;
  right: 0;
  top: 0;
}

html {
  font: 16px "SF Hello", "Segoe UI", "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
}

.page-width {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}
