:root {
  --background-color: hsl(0, 0%, 96.9%);
  --link-color: hsl(200, 100%, 40%);
  --text-color: hsl(0, 0%, 20%);
  --header-nav-background-color: hsla(0, 0%, 86.7%, 90%);
}

@media(prefers-color-scheme:dark) {
  :root {
    --background-color: hsl(120, 2%, 9%);
    --link-color: hsl(206.7, 100%, 70%);
    --text-color: hsl(240, 1.3%, 84.5%);
    --header-nav-background-color: hsla(0, 0%, 33.3%, 90%);
  }
}

html {
  font-family: "SF Hello", "Segoe UI", "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  background-color: hsl(0, 0%, 96.9%);
  background-color: var(--background-color);
  color: hsl(0, 0%, 20%);
  color: var(--text-color);
  margin: 0;
}

a {
  color: hsl(200, 100%, 40%);
  color: var(--link-color);
  text-decoration: none;
  transition: color 500ms ease-in-out;
}
a:hover {
  text-decoration: underline;
}

header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 86.7%, 90%);
  background-color: var(--header-nav-background-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
