<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes, viewport-fit=cover">
  <meta name="application-name" content="{{ .Site.Title }}">
  <meta name="supported-color-schemes" content="light dark">
  <meta name="description" content="{{ .Description }}">
  <link rel="alternate" href="{{ .RSSLink }}" type="application/rss+xml" title="{{ .Site.Title }}">
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}">
  {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css" integrity="{{ $style.Data.Integrity }}" media="all">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
</head>
