<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <title>{{ .Site.Title }}</title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand navbar-light">
      <a class="navbar-brand" href="/">Bit2 Technology</a>
      <form class="form-inline ml-auto" action="/search">
        <input class="form-control" id="searchbox" name="q" placeholder="Search" type="search"/>
      </form>
    </nav>
